- content_for :title do
  Setup
  = provider.name
end
%h1
  Setup
  = provider.name

%table#provider_setup
  %tbody
  = form_for provider, { as: :provider, method: :post, url: provider_upsert_path(provider_name: provider.name) } do |f|
    %tr
    %tr
      %td= f.label 'user id'
      %td
        - if provider.oauthable?
          = f.object.uid
        - else
          = f.text_field :uid
    = f.fields_for :goal do |gf|
      %tr
        %td= gf.label :slug
        %td= gf.select :slug, available_goal_slugs, selected: gf.object.slug
      = gf.fields_for :params do |pf|
        - provider.decorate.extra_form_fields(pf).each do |label, input|
          %tr
            %td= label
            %td= input

    %tr
      %td= f.submit "Save"
    %tr
      %td Current Score:
      %td= provider.calculate_score.inspect if provider.valid?

