- content_for :title do
  Providers
.container.col-md-5.col-md-offset-3
  %h1
    Providers status
  %table.table-bordered.table
    %thead
      %tr
        %td Name
        %td Connection Status
        %td Setup
        %td Goal slug
        %td Last score
        %td Extra
        %td Delete goal
    %tbody
    - providers.each do |provider|
      %tr
        %td= provider.name.titleize
        %td{ data: { align: :center}}= provider.status
        %td= provider.setup_link
        - if provider.goal
          %td= provider.goal.slug.to_s
          %td= provider.goal.last_value
          %td= provider.extra_status
        - else
          %td -
          %td -
          %td -
        %td= provider.delete_link
  = link_to "Get new scores", reload_providers_path, method: :post, class: %i(btn btn-default)

