- content_for :title do
  Beemind.me - Home

.container#welcome
  .jumbotron
    %h1 Welcome to Beemind.me
    %p
      This app complement's
      %a{href: "http://beeminder.com"} Beeminder
      By adding more automatic data sources.
      %br Check the list below to see what is currently supported.
    %p
      Is your favorite service is missing?
      %br
      Have any questions?

      Ask in the
      = link_to "Forum", "https://forum.beeminder.com"

  .row
    .col-lg-2
      = link_to "https://trello.com", class: :logo do
        %h3.logo-header Trello
        =image_tag("logos/trello.png")

      %li
        = link_to "Procrastination", main_about_path
    .col-lg-2
      = link_to "https://fit.google.com", class: :logo do
        %h3.logo-header Google Fit
        =image_tag("logos/googlefit.png")

      %li Steps

    .col-lg-2
      = link_to "https://getpocket.com", class: :logo do
        %h3 Pocket
        =image_tag("logos/pocket.png")
      %li
        = link_to "Procrastination", main_about_path

    .col-lg-2
      = link_to "https://www.typeracer.com", class: :logo do
        %h3 Typeracer
        =image_tag("logos/typeracer.png")
      %li Games completed
  .row
    %p
      To start,
      %a{href: "http://beeminder.com"} sign in with your Beeminder account.

