- content_for :title do
  Beemind.me - Home

.container#welcome
  .jumbotron
    %h1 Welcome to Beemind.me
    %p
      This app complements
      %a{href: "http://beeminder.com"} Beeminder
      by adding more automatic data sources.
      %br Check the list below to see what is currently supported.
    %p
      Is your favorite service missing?
      %br
      Have any questions?

      Ask us in the
      = succeed "." do
        = link_to "Forum", "http://forum.beeminder.com"

  .row
    - providers.each do |provider|
      .col-lg-2
        = link_to provider.website_link, class: :logo do
          %h3.logo-header= provider.title
          =image_tag("logos/#{provider.key}.png")

        - provider.metrics.each do |metric|
          %li
            = link_to metric.title, main_about_path
  .row
    %p
      To start,
      =link_to "sign in", signin_path
      with your Beeminder account.

