.container
  .row
    %h3
      = credential.status
      = link_to "Delete", credential, method: :delete, "data-confirm": "This action will disconnect all goals for this provider. Are you sure?", class: %(btn btn-default)
  .row
    .col-lg-4
      - if provider.public?
        %h3
          Configure Provider
        = form_for credential do |f|
          = f.hidden_field :provider_name, value: provider.name
          .form-group
            = f.label :user_id
            = f.text_field :uid, class: "form-control"
          = f.submit "Save", class: %(btn btn-default)

