!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Beemind.me'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Beemind.me'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main
      .container
        = render 'layouts/messages'
        = yield

      %footer
        .container
          %p
            &copy;
            %a{ href: "https://github.com/tsubery" } Gal Tsubery.
            This software is
            %a{ href: "https://github.com/tsubery/quantifier/" } free
            under
            %a{ href: "https://github.com/tsubery/quantifier/blob/master/LICENSE"} MIT License
            \.


